<div class="content-wrapper sidebar-included left-sidebar">
  <div class="clear"></div>
  <div class="gdl-page-float-left">
    <div class="gdl-page-item">
      <div class="sixteen columns mt0">
        <%= yield(:body_content_right) %>
      </div>
    </div>

    <div class="five columns mt0 gdl-left-sidebar">
      <div class="left-sidebar-wrapper gdl-divider">
        <%= yield(:body_content_left) %>
      </div>
    </div>

  </div>
  <div class="clear"></div>
</div>




