<% cache "refinery/photo_gallery/submenu" do %>
<div class="custom-sidebar gdl-divider">
    <%= generate_photo_gallery_menu(@collections, @albums, {:ul => {:class => "", :id=>"submenu" }}) %>
</div>
<div class="pt30"></div>
<% end %>
