<div class='wym_skin_refinery page_part'>
  <%= render '/refinery/admin/pages/tabs/photo_pages_bar' %>

  <div id="photo_gallery_wym_editation" class='wym_box field ' style="height: 300px;">
    <% if @page.album_page.nil?
         @page.build_album_page
       end %>


    <%= render "/refinery/admin/pages/tabs/form", :f => f %>
  </div>
</div>
