<nav id='actions' class='multilist'>

  <ul  class='collapsible_menu'>
    <li class='not_a_link'>
      <%= link_to t('.albums.manage'), refinery.photo_gallery_admin_albums_path,
                  :class => 'folder_icon' %>
    </li>
    <li>
      <%= link_to t('.albums.new'), refinery.new_photo_gallery_admin_album_path,
                  :class => 'add_icon' %>
    </li>
  </ul>

  <ul  class='collapsible_menu'>
    <li class='not_a_link'>
      <%= link_to t('.collections.manage'), refinery.photo_gallery_admin_collections_path,
                  :class => 'folder_icon' %>
    </li>
    <li>
      <%= link_to t('.collections.new'), refinery.new_photo_gallery_admin_collection_path,
                  :class => 'add_icon' %>
    </li>
  </ul>
</nav>

