<% if @page.album.present? %>

    <% cache "refinery/photo_gallery/albums/#{@page.album.id}" do %>
        <h2 >
          <%= @page.album.title %>
        </h2>

        <div>
          <%= raw @page.album.description %>
        </div>
    <% end %>

    <div id="photo_gallery">
      <%= render :partial => "/refinery/photo_gallery/albums/photos" %>
    </div>

<% end %>

