<% if @page.album.present? %>

    <% cache "refinery/photo_gallery/albums/#{params[:id]}" do %>
        <h2 >
          <%= @page.album.title %>
        </h2>

        <div>
          <%= raw @page.album.description %>
        </div>
    <% end %>


    <%= render :partial => "/refinery/photo_gallery/albums/photos" %>

<% end %>

