<div class="form-actions">
  <div class="form-actions-left">
    <%= f.submit t('refinery.admin.form_actions.save'), :class=> "wymupdate button" %>
    <%= link_to t('refinery.admin.form_actions.cancel'), refinery.photo_gallery_admin_albums_path, :class=> "close_dialog button", :title=> t('refinery.admin.form_actions.cancel_lose_changes') %>
  </div>
</div>